<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Annotation tool</title>


        {% load static %}

        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{% static 'jszip.min.js' %}"></script>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

        <style>
         #drag-and-drop-box {
             width: 450px;
             height: 240px;
             padding: 10px;
             border: 1px solid #aaaaaa;
         }

        </style>
    </head>

    <body id="page-top">

        <header class="bg-primary text-white">
            <div class="container text-center">
                <h1>Annotation tool</h1>
                <p class="lead">Annotate your morphologies</p>
            </div>
        </header>
        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <h3>Choose a Neurolucida file and press "Annotate!" to download a copy of this file with the annotations appended at the end</h3>
                There are 4 types of supported annotations:
                <ul>
                    <li>Z-jump</li>
                    <li>Narrow start</li>
                    <li>Fat end</li>
                    <li>Dangling branch</li>
                </ul>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <form id="submission-form"  class="form-inline" role="form" >
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="drag-and-drop-box" style="margin-top:10px">Drop one or more file in this box:</label>
                            <div id="drag-and-drop-box"></div>
                            <label for="fileControl" style="margin-top:20px">Or browse manually:</label>
                            <input id="fileControl" type="file"  name="myfile" class="form-control-file" style="display: none;"  multiple>
                            <input type="button" value="Browse..." onclick="document.getElementById('fileControl').click();" />

                            <canvas width="500" height="20"></canvas>
                        </div>

                    </form>
                    <button id="annotate-btn" onclick="exportAnnotations()" style="margin-top:50px" class="btn btn-primary btn-lg">Annotate !</button>
                </div>
                <div class="col-md-6">
                    <h3>Annotations summary:</h1>
                        <ul id="summary-div"></ul>
                        <button id="export-summary" onclick="exportSummary()" style="margin-top:50px" class="btn btn-secondary btn-lg">Export Summary</button>
                        <a id="downloadAnchorElem" style="display:none"></a>
                </div>
            </div>
        </div>
        <footer class="py-5 bg-dark">
            <div class="container">
                <p style="margin-top:100px" class="m-0 text-center text-white">For more information about the annotation computation see: <a href="https://github.com/BlueBrain/NeuroM/blob/master/neurom/check/neuron_checks.py">https://github.com/BlueBrain/NeuroM/blob/master/neurom/check/neuron_checks.py</a></p>
            </div>
        </footer>

        <script>
         var dropZone = document.getElementById('drag-and-drop-box');
         var input = document.getElementById('fileControl');
         var annotateButton = document.getElementById('annotate-btn');
         var timeout = 120000; // 2 minutes


         var canvas = document.querySelector('canvas');
         var context = canvas.getContext('2d');
         var count = document.getElementById('count');
         /*          var destinationUrl = document.getElementById('url');*/
         var list = [];
         var totalSize = 0;
         var totalProgress = 0;
         var processedFiles = new Set();
         var annotations = {};



         function updateSummary(){
             console.log("update");
             annotateButton.disabled = (Object.keys(annotations).length < 1);
             var myNode = document.getElementById('summary-div')
             while (myNode.firstChild) {
                 myNode.removeChild(myNode.firstChild);
             }

             var newSummaryDiv = document.createElement('div');
             for(var f in annotations){
                 var summary = annotations[f].summary
                 var div = document.createElement('li');
                 div.innerHTML = f;
                 var l = document.createElement('ul')
                 div.appendChild(l);
                 for(var key in summary){
                     var item = document.createElement('li')
                     item.innerHTML += key + ': ' + summary[key];
                     l.appendChild(item);
                 }
                 newSummaryDiv.appendChild(div);
                 myNode.appendChild(newSummaryDiv);

             }

         }

         input.onchange = function () {
             processFiles(input.files);
         };



         $.ajaxSetup({
             beforeSend: function(xhr, settings) {
                 function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                 }
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                 }
             }
         });


         // Optional.   Show the copy icon when dragging over.  Seems to only work for chrome.
         dropZone.addEventListener('dragover', function(e) {
             e.stopPropagation();
             e.preventDefault();
             e.dataTransfer.dropEffect = 'copy';
         });


         // Get file data on drop
         dropZone.addEventListener('drop', function(e) {
             e.stopPropagation();
             e.preventDefault();
             processFiles(e.dataTransfer.files);

         });

         // draw progress
         function drawProgress(progress) {
             context.clearRect(0, 0, canvas.width, canvas.height); // clear context
             if(progress < 1){
                 context.beginPath();
                 context.strokeStyle = '#4B9500';
                 context.fillStyle = '#4B9500';
                 context.fillRect(0, 0, progress * 500, 20);
                 context.closePath();
                 // draw progress (as text)
                 context.font = '16px Verdana';
                 context.fillStyle = '#000';
                 context.fillText('Progress: ' + Math.floor(progress*100) + '%', 50, 15);
             }
         }
         function exportSummary(){
             var tmp = {};
             for(var k in annotations){
                 tmp[k] = annotations[k].summary;
             }
             offerDownload(JSON.stringify(tmp), "summary.json");
         }


         function offerDownload(object, filename){
             var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(object);
             var dlAnchorElem = document.getElementById('downloadAnchorElem');
             dlAnchorElem.setAttribute("href",     dataStr     );
             dlAnchorElem.setAttribute("download", filename);
             dlAnchorElem.click();
         }

         function exportAnnotations(){
             var zip = new JSZip();
             var size = Object.keys(annotations).length;
             for(var f in annotations){
                 if(size == 1){
                     offerDownload(annotations[f].file, f.replace(".asc", '-annotated.asc'));
                 }else{
                     zip.file(f.replace(".asc", '-annotated.asc'), annotations[f].file, {base64: true});
                 }
             }

             if( size > 1){
                 zip.generateAsync({type:"base64"}).then(function (base64) {
                     window.location = "data:application/zip;base64," + base64;
                     resetAllFields();
                 }, function (err) {
                     alert(err);
                 });
             }

         }

         function resetAllFields(){
             annotations = {};
             input.value = "";
             processedFiles = new Set();
             updateSummary();
         }


         function processFiles(filelist) {
	           if (!filelist || !filelist.length || list.length) return;
	           totalSize = 0;
	           totalProgress = 0;
	           for (var i = 0; i < filelist.length && i < 5; i++) {
                 if(!processedFiles.has(filelist[i].name)){
	                   list.push(filelist[i]);
	                   totalSize += filelist[i].size;
                 }
	           }
	           uploadNext();
	       }

         // on complete - start next file
         function handleComplete(file) {
             totalProgress += file.size;
             drawProgress(totalProgress / totalSize);
             processedFiles.add(file.name);
             updateSummary();
             uploadNext();
         }
         // update progress
         function handleProgress(event) {
             var progress = totalProgress + event.loaded;
             drawProgress(progress / totalSize);
         }
         // upload file
         function uploadFile(file, status) {
             var formData = new FormData();
	           formData.append('myfile', file);

             $.ajax(
                 {method: 'POST', url: "/annotations/api",
                  cache: false,
                  contentType: false,
                  processData: false,
                  data: formData,
                  success: function(data){console.log("sucess"); handleComplete(file);},
                  error: function(data){
                      alert("Something went wrong for file: "+file.name+"\n"+data.responseJSON.error);
                      handleComplete(file);
                  },
                  success: function(data){
                      annotations[file.name] = data;
                      handleComplete(file);
                  }
                 });
         }

         // upload next file
         function uploadNext() {
             if (list.length) {
                 dropZone.className = 'uploading';
                 var nextFile = list.shift();
                 uploadFile(nextFile, status);
             } else {
                 dropZone.className = '';
             }
         }
        </script>
    </body>
</html>
