<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Annotation tool</title>


        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

        <style>
         #drag-and-drop-box {
             width: 450px;
             height: 240px;
             padding: 10px;
             border: 1px solid #aaaaaa;
         }
         #summary-div ul{
             font-size: 200%;
             color: blue;
         }

         #summary-div li{
             font-size: 100%;
         }
        </style>
    </head>

    <body id="page-top">

        <header class="bg-primary text-white">
            <div class="container text-center">
                <h1>Annotation tool</h1>
                <p class="lead">Annotate your morphologies</p>
            </div>
        </header>
        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <h3>Choose a Neurolucida file and press "Annotate!" to download a copy of this file with the annotations appended at the end</h3>
                There are 4 types of supported annotations:
                <ul>
                    <li>Z-jump</li>
                    <li>Narrow start</li>
                    <li>Fat end</li>
                    <li>Dangling branch</li>
                </ul>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <form id="submission-form" method="post" enctype="multipart/form-data" action="/annotations/api" class="form-inline" role="form" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="drag-and-drop-box" style="margin-top:10px">Drop the file in this box (works only for Google Chrome so far):</label>
                        <div id="drag-and-drop-box"></div>
                        <label for="fileControl" style="margin-top:20px">Or browse manually:</label>
                        <input id="fileControl" type="file"  name="myfile" class="form-control-file" >
                        <button id="annotate-btn" type="submit" style="margin-top:50px" class="btn btn-primary btn-lg">Annotate !</button>
                    </div>

                    </form>
                </div>
                <div class="col-md-6">
                    <div id="summary-div"></div>
                </div>
            </div>


        </div>
        <footer class="py-5 bg-dark">
            <div class="container">
                <p style="margin-top:100px" class="m-0 text-center text-white">For more information about the annotation computation see: <a href="https://github.com/BlueBrain/NeuroM/blob/master/neurom/check/neuron_checks.py">https://github.com/BlueBrain/NeuroM/blob/master/neurom/check/neuron_checks.py</a></p>
            </div>
        </footer>

        <script>
         var dropZone = document.getElementById('drag-and-drop-box');
         var input = document.getElementById('fileControl');
         var timeout = 120000; // 2 minutes

         input.onchange = function () {
             summary();
         };

         window.onload = function() {
             summary();
         }
         $.ajaxSetup({
             beforeSend: function(xhr, settings) {
                 function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                 }
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                 }
             }
         });

         function summary() {
             $.ajax({method: 'POST', url: "/annotations/summary",    cache: false,
                     contentType: false,
                     processData: false,
                     data: new FormData($("#submission-form")[0]),
                     timeout: timeout,
                     success: function(data){document.getElementById('summary-div').innerHTML = data;}});
         }

         // Optional.   Show the copy icon when dragging over.  Seems to only work for chrome.
         dropZone.addEventListener('dragover', function(e) {
             e.stopPropagation();
             e.preventDefault();
             e.dataTransfer.dropEffect = 'copy';
         });


         // Get file data on drop
         dropZone.addEventListener('drop', function(e) {
             e.stopPropagation();
             e.preventDefault();
             var files = e.dataTransfer.files; // Array of all files

       	     document.querySelector('form').fileControl.files = files;
             summary()

         });

        </script>
    </body>
</html>
