<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Annotation tool</title>


        {% load static %}

        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.js"></script> -->
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

        <style>
         #drag-and-drop-box {
             width: 450px;
             height: 240px;
             padding: 10px;
             border: 1px solid #aaaaaa;
         }

        </style>
    </head>

    <body id="page-top">

        <header class="bg-primary text-white">
            <div class="container text-center">
                <h1>Annotation tool</h1>
                <p class="lead">Annotate your morphologies</p>
            </div>
        </header>
        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <h3>Choose a Neurolucida file and press "Annotate!" to download a copy of this file with the annotations appended at the end</h3>
                There are 4 types of supported annotations:
                <ul>
                    <li>Z-jump</li>
                    <li>Narrow start</li>
                    <li>Fat end</li>
                    <li>Dangling branch</li>
                </ul>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <form id="submission-form"  class="form-inline" role="form" >
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="drag-and-drop-box" style="margin-top:10px">Drop one or more file in this box:</label>
                            <div id="drag-and-drop-box"></div>
                            <label for="fileControl" style="margin-top:20px">Or browse manually:</label>
                            <input id="fileControl" type="file"  name="myfile" class="form-control-file" style="display: none;"  multiple>
                            <input type="button" value="Browse..." onclick="document.getElementById('fileControl').click();" />

                            <canvas width="500" height="20"></canvas>
                        </div>

                    </form>
                    <button id="annotate-btn" onclick="exportAnnotations()" style="margin-top:50px" class="btn btn-primary btn-lg">Annotate !</button>
                    <button  id="annotate-btn" onclick="resetAllFields()" style="margin-top:50px; margin-left:100px;" class="btn btn-warning btn-lg">Reset files <span class="glyphicon glyphicon-trash" aria-hidden=true></span></button>
                </div>
                <div class="col-md-6">
                    <h3>Annotations summary:</h1>
                        <ul id="summary-div"></ul>
                        <button id="export-summary" onclick="exportSummary()" style="margin-top:50px" class="btn btn-info btn-lg">Export Summary</button>
                        <a id="downloadAnchorElem" style="display:none"></a>
                </div>
            </div>
        </div>
        <footer class="py-5 bg-dark">
            <div class="container">
                <p style="margin-top:100px" class="m-0 text-center text-white">For more information about the annotation computation see: <a href="https://github.com/BlueBrain/NeuroM/blob/master/neurom/check/neuron_checks.py">https://github.com/BlueBrain/NeuroM/blob/master/neurom/check/neuron_checks.py</a></p>
                <p class="m-0 text-center text-white">Contact: <a href="mailto:bbp-ou-nse@epfl.ch">bbp-ou-nse@epfl.ch</a></p>
                <p class="m-0 text-center text-white">version: {{ version }}</p>
            </div>
        </footer>

        <script src="{% static "FileSaver.js" %}"></script>
        <script src="{% static "jszip.min.js" %}"></script>
        <script src="{% static "annotations.js" %}"></script>
    </body>
</html>
